In [ ]:
#understanding dataframe

In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.DataFrame()

print(df1)

Empty DataFrame
Columns: []
Index: []

In [4]:
data = ['ram','shyam','sanju','aishwarya','sweety','bicky']

df2 = pd.DataFrame(data)

print(df2)

           0
0        ram
1      shyam
2      sanju
3  aishwarya
4     sweety
5      bicky

In [6]:
data = ['ram','shyam','sanju','aishwarya','sweety','bicky']

df2 = pd.DataFrame(data,columns=['Names'])

print(df2)

       Names
0        ram
1      shyam
2      sanju
3  aishwarya
4     sweety
5      bicky

In [7]:
data = [['ram',14],['shyam',5],['sanju',11],['aishwarya',9],['sweety',11],['bicky',17]]

df3 = pd.DataFrame(data,columns=['Names','Marks'])

print(df3)

       Names  Marks
0        ram     14
1      shyam      5
2      sanju     11
3  aishwarya      9
4     sweety     11
5      bicky     17

In [8]:
data = [['ram',14],['shyam',5],['sanju',11],['aishwarya',9],['sweety',11],['bicky',17]]

df4 = pd.DataFrame(data,columns=['Names','Marks'],dtype=float)

print(df4)

       Names  Marks
0        ram   14.0
1      shyam    5.0
2      sanju   11.0
3  aishwarya    9.0
4     sweety   11.0
5      bicky   17.0