In [ ]:
#reading csv file and doing statistical operations

In [1]:
import numpy as np

In [6]:
salaries = np.genfromtxt('salary.csv')

salaries

array([60000., 58000., 56967., ..., 54647., 25000., 70000.])

In [8]:
salaries.shape

(1147,)

In [10]:
mean = np.mean(salaries)

print('Mean = %i'%mean)

Mean = 55894

In [12]:
median = np.median(salaries)

print('Median = %i'%median)

Median = 48000

In [14]:
SD = np.std(salaries)

print('SD = %i'%SD)

SD = 55170

In [17]:
variance = np.var(salaries)

print('Variance = %i'%variance)

Variance = 3043770333

In [20]:
#looping through numpy array
#1-D array

array1 = np.arange(11)
array1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [23]:
for i in array1:
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100

In [25]:
#looping through multidimensional array

customer = np.array([['bikesh','ram','harshini','aishwarya'],
                      [71,82,67,45],
                      [70,79,71,64]])

customer

array([['bikesh', 'ram', 'harshini', 'aishwarya'],
       ['71', '82', '67', '45'],
       ['70', '79', '71', '64']], dtype='<U9')

In [27]:
for i in customer:
    print('i = ',i)

i =  ['bikesh' 'ram' 'harshini' 'aishwarya']
i =  ['71' '82' '67' '45']
i =  ['70' '79' '71' '64']

In [30]:
for i in customer.flatten():
    print(i.title())

Bikesh
Ram
Harshini
Aishwarya
71
82
67
45
70
79
71
64