In [2]:
#Pandas Basics


import pandas as pd

In [4]:
#1-dimensional array

n1 = pd.Series([1,2,3,4,5,6,7],index = ['a','b','c','d','e','f','g'])
n1

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [6]:
dict1 ={'a':10,'b':20,'c':30,'d':40}

In [7]:
s1 = pd.Series(dict1)
s1

a    10
b    20
c    30
d    40
dtype: int64

In [14]:
#2-dimensional array
#Data Frame

student_details = {'Student_Name':['Raju','Shyam','Jyoshna','Sam'],'Marks':[52,58,83,97]}

In [15]:
pd.DataFrame(student_details)

  Student_Name  Marks
0         Raju     52
1        Shyam     58
2      Jyoshna     83
3          Sam     97

In [17]:
import pandas as pd

In [30]:
read_file = pd.read_csv (r'C:\Users\Toshiba\Downloads\1000Records.csv')

In [31]:
read_file.head()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

In [32]:
read_file.head(20)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh
5,520092,Mr.,Lamont,L,Woods,M,lamont.woods@hotmail.com,Ignacio Woods,Beulah Woods,Trujillo,...,037-74-2595,236-597-8196,Purcellville,Loudoun,Purcellville,VA,20134,South,llwoods,8tf/YU}>s
6,795934,Ms.,Melinda,L,Lopez,F,melinda.lopez@hotmail.com,Leroy Lopez,Edna Lopez,Carter,...,541-83-6362,210-396-1493,Stowell,Chambers,Stowell,TX,77661,South,mllopez,hf*&Gcb[
7,159108,Mrs.,Shanna,U,Silva,F,shanna.silva@gmail.com,Eliseo Silva,Minnie Silva,Callahan,...,673-48-7003,236-373-6712,Herndon,Fairfax,Herndon,VA,20171,South,susilva,oudj2Bq4vc2_{PU
8,330816,Ms.,Jasmine,J,Freeman,F,jasmine.freeman@gmail.com,Hans Freeman,Renee Freeman,Mcbride,...,600-99-8437,423-796-1535,Ocoee,Polk,Ocoee,TN,37361,South,jjfreeman,Q.8<Q>K*H\*6f
9,532002,Ms.,Madge,V,Sargent,F,madge.sargent@aol.com,Luke Sargent,Judy Sargent,Herrera,...,177-86-7347,217-910-0644,Springfield,Sangamon,Springfield,IL,62712,Midwest,mvsargent,bc\&B81h
10,612850,Ms.,Bethany,Z,Cline,F,bethany.cline@yahoo.ca,Eddie Cline,Deanne Cline,Gordon,...,700-18-6519,215-970-5881,Montgomery,Lycoming,Montgomery,PA,17752,Northeast,bzcline,6wvl^0+zl.b/1
11,483751,Prof.,Reid,F,Randolph,M,reid.randolph@gmail.com,Grover Randolph,Erika Randolph,Melendez,...,343-11-4951,209-996-8902,Pacoima,Los Angeles,Pacoima,CA,91331,West,rfrandolph,Uc@^[]cqnZs
12,252938,Hon.,Antoine,H,Wiley,M,antoine.wiley@verizon.net,Frances Wiley,Naomi Wiley,Kirby,...,078-02-8772,503-361-6334,Canby,Clackamas,Canby,OR,97013,West,ahwiley,r~4%7~uU|I<4CJ
13,966375,Dr.,Mathew,O,Hodge,M,mathew.hodge@hotmail.com,Prince Hodge,Regina Hodge,Henderson,...,161-86-9547,209-294-7430,Van Nuys,Los Angeles,Van Nuys,CA,91404,West,mohodge,1E7oKc:M!cKsgq
14,707520,Mr.,Bernardo,L,Austin,M,bernardo.austin@hotmail.com,Lowell Austin,Shauna Austin,Humphrey,...,143-23-9034,319-716-4227,Knoxville,Marion,Knoxville,IA,50197,Midwest,blaustin,S:An&6n%>s!
15,673049,Dr.,Cole,E,Jensen,M,cole.jensen@aol.com,Terence Jensen,Belinda Jensen,Brown,...,762-12-1934,405-495-4201,Oklahoma City,Oklahoma,Oklahoma City,OK,73184,South,cejensen,C@#*|0ODx{7%bc
16,265124,Ms.,Tonia,J,Burns,F,tonia.burns@gmail.com,Johnathan Burns,Brianna Burns,Lester,...,093-02-0725,209-631-5424,Friant,Fresno,Friant,CA,93626,West,tjburns,0bGtW[zHT?eSq\N
17,300693,Mr.,Tod,N,Holcomb,M,tod.holcomb@outlook.com,Gail Holcomb,Beulah Holcomb,Keller,...,770-02-9125,240-364-4220,Patuxent River,St. Mary's,Patuxent River,MD,20670,South,tnholcomb,205oA^B^
18,369712,Mrs.,Yesenia,B,Guerrero,F,yesenia.guerrero@btinternet.com,Alfred Guerrero,Lori Guerrero,Joyner,...,494-29-3248,240-505-5321,Reisterstown,Baltimore,Reisterstown,MD,21136,South,ybguerrero,R:%7@}wYr$
19,913253,Mr.,Carey,B,Ferrell,M,carey.ferrell@yahoo.com,Robby Ferrell,Christi Ferrell,Bradshaw,...,522-99-2018,212-495-4523,New Baltimore,Greene,New Baltimore,NY,12124,Northeast,cbferrell,U~BdKWV?i.

In [33]:
read_file.tail()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
995,568435,Ms.,Bonnie,K,Baker,F,bonnie.baker@bp.com,Edwardo Baker,Pauline Baker,Robinson,...,064-02-6162,262-696-9171,Mukwonago,Waukesha,Mukwonago,WI,53149,Midwest,bkbaker,a?Co:/r;nu_wTQ
996,597409,Mr.,Luke,S,Turner,M,luke.turner@charter.net,Javier Turner,Nicole Turner,Sykes,...,056-02-8240,231-629-0498,Freeport,Barry,Freeport,MI,49325,Midwest,lsturner,7n5@64VC7|
997,359608,Hon.,Eva,S,Holman,F,eva.holman@hotmail.com,Coy Holman,Haley Holman,Boyle,...,343-11-1935,209-912-6705,Turlock,Stanislaus,Turlock,CA,95381,West,esholman,DG<<<e}*WgD<U
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM
999,669618,Drs.,Phyllis,H,Dudley,F,phyllis.dudley@yahoo.co.in,Jarrod Dudley,Latisha Dudley,Wilcox,...,101-02-6501,405-970-2341,Meno,Major,Meno,OK,73760,South,phdudley,h6wt@400%&Uu

In [34]:
read_file.tail(15)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
985,953997,Mr.,Graham,F,Hutchinson,M,graham.hutchinson@microsoft.com,Pasquale Hutchinson,Tanisha Hutchinson,Cook,...,360-08-1956,216-832-6715,Stockdale,Pike,Stockdale,OH,45683,Midwest,gfhutchinson,r_T_/L8L0n%]!
986,149818,Mrs.,Ophelia,Z,Pena,F,ophelia.pena@gmail.com,Rick Pena,Dolores Pena,Romero,...,144-23-2416,229-494-7152,Kingsland,Camden,Kingsland,GA,31548,South,ozpena,LcvCCDt}:W58\
987,352882,Dr.,Lon,P,Harper,M,lon.harper@aol.com,Abel Harper,Isabella Harper,Kennedy,...,655-36-7746,316-912-3105,Shawnee Mission,Johnson,Shawnee Mission,KS,66201,Midwest,lpharper,Rd9Kee@jTzB.a
988,760995,Mr.,Irvin,V,Witt,M,irvin.witt@gmail.com,Carlo Witt,Ericka Witt,Terrell,...,244-99-1471,479-538-7205,Dierks,Howard,Dierks,AR,71833,South,ivwitt,44YT_?_J-
989,873626,Mrs.,Sheri,A,Spears,F,sheri.spears@yahoo.com,Jody Spears,Nichole Spears,Blanchard,...,431-99-1687,304-279-5182,Gallagher,Kanawha,Gallagher,WV,25083,South,saspears,2uO2Rfv$a
990,247051,Ms.,Alberta,A,Page,F,alberta.page@hotmail.com,Efrain Page,Tania Page,Santos,...,210-84-8950,207-407-3515,Levant,Penobscot,Levant,ME,4456,Northeast,aapage,jFA{+~Z.[
991,715045,Drs.,Kerri,Q,Santos,F,kerri.santos@yahoo.com,Morton Santos,Ada Santos,Christian,...,412-99-7151,479-892-9591,College Station,Pulaski,College Station,AR,72053,South,kqsantos,nd;F~z3U\0G1p>z
992,601808,Mr.,Olin,N,Case,M,olin.case@hotmail.com,Daryl Case,Juanita Case,Marquez,...,267-99-1476,308-857-4365,Carleton,Thayer,Carleton,NE,68326,Midwest,oncase,Hg:mGE<{:E
993,569286,Mr.,Stefan,L,Jacobs,M,stefan.jacobs@cox.net,Reed Jacobs,Darlene Jacobs,Vaughan,...,179-86-9985,236-864-7510,Fredericksburg,Fredericksburg (city),Fredericksburg,VA,22402,South,sljacobs,iLS[@cGY+-nD2nX
994,172440,Dr.,Cody,H,Allison,M,cody.allison@gmail.com,Sheldon Allison,Rachael Allison,Harrington,...,312-35-7906,209-221-5075,Pasadena,Los Angeles,Pasadena,CA,91051,West,challison,CH_;sWI#:j8p4I
995,568435,Ms.,Bonnie,K,Baker,F,bonnie.baker@bp.com,Edwardo Baker,Pauline Baker,Robinson,...,064-02-6162,262-696-9171,Mukwonago,Waukesha,Mukwonago,WI,53149,Midwest,bkbaker,a?Co:/r;nu_wTQ
996,597409,Mr.,Luke,S,Turner,M,luke.turner@charter.net,Javier Turner,Nicole Turner,Sykes,...,056-02-8240,231-629-0498,Freeport,Barry,Freeport,MI,49325,Midwest,lsturner,7n5@64VC7|
997,359608,Hon.,Eva,S,Holman,F,eva.holman@hotmail.com,Coy Holman,Haley Holman,Boyle,...,343-11-1935,209-912-6705,Turlock,Stanislaus,Turlock,CA,95381,West,esholman,DG<<<e}*WgD<U
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM
999,669618,Drs.,Phyllis,H,Dudley,F,phyllis.dudley@yahoo.co.in,Jarrod Dudley,Latisha Dudley,Wilcox,...,101-02-6501,405-970-2341,Meno,Major,Meno,OK,73760,South,phdudley,h6wt@400%&Uu

In [35]:
read_file.describe()

,Emp ID,Age in Yrs.,Weight in Kgs.,Year of Joining,Month of Joining,Day of Joining,Age in Company (Years),Salary,Zip
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,549097.583000,40.377250,59.409000,2006.992000,6.415000,16.481000,10.093720,120288.528000,48698.499000
std,264810.879315,11.107729,13.900322,8.565588,3.428488,8.831514,8.568863,45178.339916,27396.021481
min,114425.000000,21.040000,40.000000,1980.000000,1.000000,1.000000,0.000000,40040.000000,1002.000000
25%,307757.000000,30.925000,49.000000,2002.000000,4.000000,9.000000,3.152500,82122.000000,25421.750000
50%,543073.000000,40.730000,57.000000,2009.000000,6.000000,17.000000,7.815000,119409.000000,47416.500000
75%,788450.250000,49.852500,68.000000,2014.000000,10.000000,24.000000,15.465000,159109.000000,71101.000000
max,999475.000000,59.980000,90.000000,2017.000000,12.000000,31.000000,37.570000,199943.000000,99791.000000

In [41]:
read_file.head()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

In [53]:
result = read_file.iloc[5:20,0:7]

In [54]:
result

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail
5,520092,Mr.,Lamont,L,Woods,M,lamont.woods@hotmail.com
6,795934,Ms.,Melinda,L,Lopez,F,melinda.lopez@hotmail.com
7,159108,Mrs.,Shanna,U,Silva,F,shanna.silva@gmail.com
8,330816,Ms.,Jasmine,J,Freeman,F,jasmine.freeman@gmail.com
9,532002,Ms.,Madge,V,Sargent,F,madge.sargent@aol.com
10,612850,Ms.,Bethany,Z,Cline,F,bethany.cline@yahoo.ca
11,483751,Prof.,Reid,F,Randolph,M,reid.randolph@gmail.com
12,252938,Hon.,Antoine,H,Wiley,M,antoine.wiley@verizon.net
13,966375,Dr.,Mathew,O,Hodge,M,mathew.hodge@hotmail.com
14,707520,Mr.,Bernardo,L,Austin,M,bernardo.austin@hotmail.com
15,673049,Dr.,Cole,E,Jensen,M,cole.jensen@aol.com
16,265124,Ms.,Tonia,J,Burns,F,tonia.burns@gmail.com
17,300693,Mr.,Tod,N,Holcomb,M,tod.holcomb@outlook.com
18,369712,Mrs.,Yesenia,B,Guerrero,F,yesenia.guerrero@btinternet.com
19,913253,Mr.,Carey,B,Ferrell,M,carey.ferrell@yahoo.com

In [55]:
read_file.head()

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh

In [57]:
result = read_file[read_file['Gender'] == 'F']

In [58]:
result

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh
6,795934,Ms.,Melinda,L,Lopez,F,melinda.lopez@hotmail.com,Leroy Lopez,Edna Lopez,Carter,...,541-83-6362,210-396-1493,Stowell,Chambers,Stowell,TX,77661,South,mllopez,hf*&Gcb[
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,715045,Drs.,Kerri,Q,Santos,F,kerri.santos@yahoo.com,Morton Santos,Ada Santos,Christian,...,412-99-7151,479-892-9591,College Station,Pulaski,College Station,AR,72053,South,kqsantos,nd;F~z3U\0G1p>z
995,568435,Ms.,Bonnie,K,Baker,F,bonnie.baker@bp.com,Edwardo Baker,Pauline Baker,Robinson,...,064-02-6162,262-696-9171,Mukwonago,Waukesha,Mukwonago,WI,53149,Midwest,bkbaker,a?Co:/r;nu_wTQ
997,359608,Hon.,Eva,S,Holman,F,eva.holman@hotmail.com,Coy Holman,Haley Holman,Boyle,...,343-11-1935,209-912-6705,Turlock,Stanislaus,Turlock,CA,95381,West,esholman,DG<<<e}*WgD<U
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM
999,669618,Drs.,Phyllis,H,Dudley,F,phyllis.dudley@yahoo.co.in,Jarrod Dudley,Latisha Dudley,Wilcox,...,101-02-6501,405-970-2341,Meno,Major,Meno,OK,73760,South,phdudley,h6wt@400%&Uu

In [66]:
result1 = read_file[(read_file['Gender'] == 'F') & (read_file['State'] == 'CT')]

In [67]:
result1

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
515,554345,Ms.,Ofelia,J,Rivers,F,ofelia.rivers@gmail.com,Anderson Rivers,Imelda Rivers,Burgess,...,714-18-2991,203-437-2507,Taftville,New London,Taftville,CT,6380,Northeast,ojrivers,8i/p]5].Eq0a
578,670526,Mrs.,Adrian,W,Dunlap,F,adrian.dunlap@hotmail.com,Lamar Dunlap,Charlotte Dunlap,Middleton,...,619-87-5812,203-936-3909,Hartford,Hartford,Hartford,CT,6105,Northeast,awdunlap,s]vApKBm?Ja
665,188409,Ms.,Pearlie,M,Bryant,F,pearlie.bryant@gmail.com,Vito Bryant,Kari Bryant,Tillman,...,129-98-7137,203-936-5406,Hampton,Windham,Hampton,CT,6247,Northeast,pmbryant,1|OIYRgA+X@XhIX
870,249410,Ms.,Yvette,C,Rivers,F,yvette.rivers@ibm.com,Hal Rivers,Alison Rivers,Russell,...,689-24-6905,203-832-8970,Canton Center,Hartford,Canton Center,CT,6020,Northeast,ycrivers,miyQCC^{jOEyJo!
977,537235,Ms.,Cheryl,M,French,F,cheryl.french@aol.com,Rusty French,Lorena French,Padilla,...,389-33-0522,203-248-3705,Monroe,Fairfield,Monroe,CT,6468,Northeast,cmfrench,fi4*<E.f$J
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM